@use "@/styles/variables.scss" as vars;
@use "@/styles/share.scss" as shared;

.baseBtn {
  font-size: 16px;
  color: vars.$color_primary !important;
  border-color: transparent !important;
  outline: transparent !important;
  &:hover {
    opacity: 0.9;
  }
}

.btn {
  @extend .baseBtn;
  background-color: vars.$color_yellow_main !important;
}

.btnModal {
  @extend .baseBtn;
  background-color: vars.$color_second !important;
}

.cancelBtn {
  @include shared.cancelBtn;
}
