.container {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  user-select: none;
  flex-direction: column;
  gap: 24px;
}

.headerRow {
  align-items: center;
  gap: 20px;
}

.form {
  width: 100%;
}

@media (max-width: 768px) {
  .headerRow {
    flex-direction: column;
    gap: 16px;
  }
}
