@use "@/styles/variables.scss" as vars;

.section {
  width: 100%;
  max-width: 30vw;
  flex-direction: column;
  margin-bottom: 10px;
  &.row {
    gap: 20px;
    flex-direction: row;
  }
  .title {
    color: vars.$color_primary !important;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .dateRange {
    &:hover,
    &:focus,
    &:focus-within {
      border-color: vars.$color_primary !important;
      box-shadow: none;
    }
  }
}
