@use "@/styles/variables.scss" as vars;

.detailWrapper {
  min-height: 60vh;
  .modalHeader {
    align-items: center;
    justify-content: space-between;

    .createdDate {
      color: #888;
    }

    .userName {
      font-weight: 700;
      color: vars.$color_second;
    }
  }
  .modalInfoRow {
    margin-top: 10px;

    .iconLabelContainer {
      align-items: center;
      gap: 6px;
      min-width: 100px;

      svg {
        width: 18px;
        height: 18px;
        color: vars.$color_text_detail;
        margin-bottom: 4px;
      }

      .label {
        font-weight: bold;
        color: vars.$color_text_detail;
      }
    }

    .label {
      font-weight: bold;
      margin-right: 5px;
    }

    .noMedia {
      color: red;
      margin-top: 10px;
      font-style: italic;
    }

    .mediaContainer {
      margin-top: 10px;
      gap: 20px;

      .imageGrid {
        gap: 20px;
      }

      .videoGrid {
        gap: 20px;
      }
    }
  }
}
