@use "@/styles/share.scss" as shared;
@use "@/styles/variables.scss" as vars;

.contentDetailWrapper {
  @include shared.contentDetailWrapper;
  .contentSectionBody {
    gap: 20px;
  }
}

.historyTimeline {
  @include shared.historyTimeline;
  .historyContainer {
    max-height: 13rem;
    &:hover {
      cursor: auto;
    }
    .label {
      min-width: 120px !important;
    }
    .iconDelete {
      color: red;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.loadMoreWrapper {
  @include shared.loadMoreWrapper;
}
