.headerWrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .sectionLeft {
    width: 100%;
    min-width: 30rem;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .extraContent {
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .sectionRight {
    justify-content: flex-end;
    align-items: center;
    &.full {
      width: 100%;
    }
    &.small {
      width: 50%;
    }
  }
}
