.container {
  width: 100%;
  flex-direction: column;
  padding: 20px;

  .statBoxContainer {
    display: flex;
    gap: 20px;
  }

  .chartContainer {
    margin-top: 20px;

    .pieChart {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

      h3 {
        margin: 20px;
      }
    }
  }

  .segmented {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  
}
