@use "@/styles/variables.scss" as vars;

.criteriaTableWrapper {
  width: 62rem;
  max-height: 25rem;
  overflow: auto;

  .criteriaTable {
    th {
      background: vars.$color_second !important;
      color: vars.$color_primary !important;
      font-weight: bold;
      text-align: center;
    }
    td {
      padding: 4px 0;
    }
  }
}
