@use "@/styles/share.scss" as shared;
@use "@/styles/variables.scss" as vars;

.container {
  @include shared.container;
}

.filterContent {
  @include shared.filterContent;
  min-width: 26vw;
}

.importModal {
  flex-direction: column;
  gap: 16px;
  padding: 0 16px 16px 16px;

  .titleSection {
    padding-bottom: 10px;
    border-bottom: 2px solid #bfbfbf;
    label {
      font-size: 18px;
    }
  }

  .importSection {
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;

    label {
      font-size: 16px;
      min-width: 10rem;
      font-weight: bold;
    }

    .fileDisplay {
      align-items: center;
      gap: 10px;
    }

    .fileName {
      font-weight: bold;
      color: vars.$color_primary;
    }

    .downloadLink {
      font-weight: bold;
      color: vars.$color_primary;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
