@use "@/styles/share.scss" as shared;
@use "@/styles/variables.scss" as vars;

.container {
  @include shared.container;

  .mapWrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .mapControls {
      width: 100%;
      position: absolute;
      top: 24px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 4rem;
      z-index: 1;

      .search {
        width: 100%;
        max-width: 20vw;
      }

      .actionBtnsWrapper {
        gap: 20px;
        z-index: 1;
      }
    }
  }
}

.popupContainer {
  flex-direction: column;
  width: 24vw;
  border-radius: 8px;
  .popupHeader {
    width: 100%;
    padding-bottom: 4px;
    border-bottom: 1px solid vars.$color_second;
    font-weight: bold;
    .closeButton {
      border: none;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
  }

  .popupBody {
    width: 100%;
    margin-top: 8px;
    max-height: 400px;
    overflow-y: auto;
    .landPlotList {
      width: 100%;
    }
    li {
      border-block-end: 1px solid vars.$color_second;
    }
    .plotItemWrapper {
      width: 100%;
      flex-direction: row;
      padding: 0 14px 8px 14px;
      gap: 8px;
      .col {
        flex-direction: column;
        gap: 10px;
      }

      .plotItemHeader {
        flex-direction: column;
        color: vars.$color_primary;
        .plotItemTitle {
          color: vars.$color_primary;
        }

        .plotItemDescription {
          font-size: 12px;
          color: vars.$color_role_name;
        }
      }
    }
  }
}

.colorGuidContainer {
  flex-direction: column;
  border-radius: 8px;

  .popupHeader {
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
    border-bottom: 1px solid vars.$color_second;
    font-weight: bold;
    .closeButton {
      border: none;
      background: transparent;
      cursor: pointer;
      outline: none;
    }
  }
  .contentWrapper {
    flex-direction: column;
    gap: 4px;
    .row {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 14px;
      .landPlotColor {
        width: 3vw;
        height: 8px;
      }
    }
    .green {
      background: #999c40;
    }
    .red {
      background-color: #f44336; // Red for dangerous land plots
    }
    .orange {
      background-color: #ff9800; // Orange for searched land plots
    }

    .blue {
      background-color: #00aeef; // Blue for selected land plots
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .mapWrapper {
      .mapControls {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 0 1rem;

        .search {
          max-width: 80vw;
        }

        .actionBtnsWrapper {
          width: 100%;
          justify-content: flex-end;
          gap: 10px;
        }
      }
    }
  }

  .popupContainer {
    width: 50vw;
  }

  .colorGuidContainer {
    .contentWrapper {
      .row {
        .landPlotColor {
          width: 8vw;
        }
      }
    }
  }
}
