.alertContainer {
    width: 100%;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;

        .title {
            margin-bottom: 10px;
            align-items: center;
        }

        .alert {
            margin-bottom: 10px;
        }
}