@use "@/styles/share.scss" as shared;
@use "@/styles/variables.scss" as vars;

.contentDetailWrapper {
  @include shared.contentDetailWrapper;
}

.additionalTableWrapper {
  max-height: 25rem;
  overflow: auto;
  .additionalTable {
    th {
      background: vars.$color_second !important;
      color: vars.$color_primary !important;
      font-weight: bold;
      text-align: center !important;
    }
    td {
      text-align: center !important;
      padding: 4px 0;
    }
  }
}
