@use "@/styles/variables.scss" as vars;
.formWrapper {
    width: 100%;
  }

  .active {
    outline: none !important;
    background: vars.$color_second !important;
    &:hover {
      opacity: 0.9;
    }
  }
  .inActive {
    outline: none !important;
    background: vars.$color_inActive_bg !important;
    span {
      color: vars.$color_inActive !important;
    }
    ::before {
      background: vars.$color_inActive !important;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  