@use "@/styles/variables.scss" as vars;

.container {
  flex-direction: column;
  gap: 8px;
  .contentWrapper {
    gap: 20px;
    .formSection {
      min-width: 24vw;
      background-color: #fff;
      border-radius: 8px;
      .formContainer {
        width: 100%;
      }
    }
    .mapSection {
      background-color: #fff;
      flex-direction: column;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      gap: 8px;
      .mapControls {
        gap: 8px;
      }
    }
  }
}
