.stepHeader {
  justify-content: flex-end;
  align-items: center;
  gap: 10rem;
  .updateTitle {
    width: 100%;
    justify-content: flex-start;
    margin-left: 32px;
  }
  .steps {
    margin-left: 10rem;
  }
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;

    .updateTitle {
      margin-left: 0;
    }

    .steps {
      margin-left: 0;
      width: 100%;
    }
  }
}
