@use "@/styles/share.scss" as shared;
@use "@/styles/variables.scss" as vars;

.container {
  @include shared.container;
}

.filterContent {
  @include shared.filterContent;
}

.filterContentMinW {
  min-width: 30vw;
}

.contentSectionBody {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: vars.$color_bg_detail;
  gap: 24px;
  padding: 20px;

  .form {
    // background-color: white;
    border-radius: 10px;
    // background-color: vars.$color_bg_detail;
    flex-direction: column;
    position: relative;

    .divider {
      background-color: #ccc;
      height: 0.5px;
    }

    .btnGroup {
      margin-top: 15px;
    }
    .daySelectorContainer {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 16px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      margin-bottom: 16px;

      .monthGrid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 5px;
        margin-top: 10px;

        .monthDay {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: vars.$color_bg_frequency;
          cursor: pointer;
          transition: 0.3s;
        }

        .active {
          background: vars.$color_selected_days;
          color: vars.$color_bg_detail;
          font-weight: bold;
        }
      }
    }

    .createdBy {
      margin-top: 10px;

      span {
        font-weight: bold;
      }
    }
  }

  .title {
    color: vars.$color_primary;
  }

  .backIcon {
    cursor: pointer;
  }
}
